.outerContainer{
  position: relative;
}

.innerContainer{
    margin-top: 10rem;
    margin-left: 20rem;
    position: absolute;
    height:30rem;
    width:50rem;
    border:solid 0.1rem black;
    background-color:rgb(33, 139, 118);

}

.innerestContainer{
    background-color: bisque;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); 
border:solid 0.1rem black;
text-align: center;
}



